.app-container {
  display: flex;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
  margin-left: 250px; /* Adjust according to the sidebar width */
}

.main-content.expanded {
  margin-left: 250px; /* Adjust according to the sidebar width */
}

.main-content.collapsed {
  margin-left: 80px; /* Adjust when sidebar is collapsed */
}

::-webkit-scrollbar {
  width: 8px;
  height: auto;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(103, 100, 109);
}

::-webkit-scrollbar-thumb {
  background: #ff8542;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #720ba9;
}
